<md-toolbar color="primary">
	<!--<button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>-->

	Mooney

	<span class="app-toolbar-filler"></span>
</md-toolbar>
<div class="app-content">
	<md-card>
		<md-tab-group>
			<md-tab>
				<template md-tab-label>
					Charts
				</template>
				<template md-tab-content>
					<pie-chart style="width:100%"></pie-chart>
				</template>
			</md-tab>
			<md-tab>
				<template md-tab-label>
					Line
				</template>
				<template md-tab-content>
					<line-chart style="width:100%"></line-chart>
				</template>
			</md-tab>
			<md-tab>
				<template md-tab-label>
					Movements
				</template>
				<template md-tab-content>
					<movements-list></movements-list>
				</template>
			</md-tab>
			<md-tab>
				<template md-tab-label>
					To Categorize
				</template>
				<template md-tab-content>
					<categorize-movements-list></categorize-movements-list>
				</template>
			</md-tab>



		</md-tab-group>
	</md-card>
</div>